<div class="container-content">
	<div class="col-xl-9 col-lg-9 col-md-9">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 m-t-3">
				<h1 class="h3 f-700 m-t-0"> 
					Bull And Last
				</h1>
				<h6 class="small f-700 text-uppercase letter-spaced">Next Event 28 Feb | Sun 7:30 PM | Entry £1 </h6>
				<h6 class="small"> 
					Pub Quiz @bull And Last | 
					168 Highgate Rd | Nw5 1qs | Hampstead Heath United Kingdom
				</h6>
				<time itemprop="startDate" datetime="2016-02-28T19:30:00+00:00">
				</time>
				<div id="calendar">
						<div class="calendar-info">
						<strong>Sunday Event LAST POSTS</strong><br>
						<ul>
						<li>
						<small>
						2016/02/21
						</small>
						<a href="/london/venues/bull-and-last/2016/2/21/gravitational-waivers-flying-high">Gravitational Waivers flying high</a>
						<small>Ben Phillips</small>
						</li>
						<li>
						<small>
						2016/01/31
						</small>
						<a href="/london/venues/bull-and-last/2016/1/31/momentous-quiz">Momentous quiz</a>
						<small>Ben Phillips</small>
						</li>
						<li>
						<small>
						2016/01/17
						</small>
						<a href="/london/venues/bull-and-last/2016/1/17/toonies-slide-out-in-front-of-5-horse-race">Toonies Slide out in front of 5-horse race</a>
						<small>Ben Phillips</small>
						</li>
						<li>
						<small>
						2016/01/10
						</small>
						<a href="/london/venues/bull-and-last/2016/1/10/all-in-a-day-s-work-for-the-fitbits">All In A Day's Work for the FitBits</a>
						<small>Ben Phillips</small>
						</li>
						<li>
						<small>
						2016/01/03
						</small>
						<a href="/london/venues/bull-and-last/2016/1/3/lowering-the-bar-raise-the-bar">Lowering the Bar raise the bar</a>
						<small>Ben Phillips</small>
						</li>
						</ul>
						<a href="/london/venues/bull-and-last/articles">Show All</a>
						<br><br>
						<strong>EVENT</strong><br>
						Weekly on Sundays @ 7:30 PM
						<meta itemprop="startDate" content="2016-02-28T19:30:00+00:00">
						<br><br>
						</span>
						<strong>PRIZES</strong><br>
						<span itemprop="description">The winning team wins the pot and the team which comes second wins two bottles of house wine. There are two bonus free drink rounds to be won.</span>
						<span itemprop="performer" itemscope="" itemtype="https://schema.org/Person">
						<br>
						<strong>QUIZMASTER</strong><br>
						<a href="/quizmasters/ben-p">
						<img class="attachment quiz_master avatar img-fluid" src="//df2t160pmxl6q.cloudfront.net/attachments/5432504395083c9e32e10aebc0f940811832b6f0/store/fill/160/127/c5413ce55a59aab99a2fa170bafbe89638a89845dd0bfba4b971b229511d/Ben_Phillips.jpg" alt="Ben phillips">
						</a>
						<span itemprop="givenName">Ben</span>
						<span itemprop="familyName" class="hide">Phillips</span>
						<span itemprop="name" class="hide">Ben Phillips</span>
						<br><br>

						</div>
					</div>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-4 m-t-3">
				
				<a href="https://facebook.com/questiononeuk">
				<div class="face-join">
				<span class="social-ico-inv">v</span>
				<strong>Join Event</strong>
				</div>
				</a>

				<div class="EmbeddedTweet-tweet">
				<blockquote class="Tweet h-entry js-tweetIdInfo subject expanded
				                   is-deciderHtmlWhitespace" cite="https://twitter.com/Q1Clues/status/701344816056115200" data-tweet-id="701344816056115200" data-scribe="section:subject">
				  <div class="Tweet-header u-cf">
				    <div class="Tweet-brand u-floatRight">
				      <span class="u-hiddenInNarrowEnv">
				<a class="FollowButton follow-button profile" data-scribe="component:followbutton" href="https://twitter.com/Q1Clues" role="button" title="Follow Question One on Twitter"><span class="FollowButton-bird"><div class="Icon Icon--twitter " aria-label="" title="" role="presentation"></div></span> Follow</a>
				</span>
				      <span class="u-hiddenInWideEnv"><a href="https://twitter.com/download" data-scribe="element:logo"><div class="Icon Icon--twitter " aria-label="Get Twitter app" title="Get Twitter app" role="img"></div></a></span>
				    </div>
				    
				<div class="TweetAuthor" data-scribe="component:author">
				  <a class="TweetAuthor-link Identity u-linkBlend" data-scribe="element:user_link" href="https://twitter.com/Q1Clues" aria-label="Question One (screen name: Q1Clues)">
				    <span class="TweetAuthor-avatar Identity-avatar">
				      <img class="Avatar" data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/552478833312428032/DkIolOc5_bigger.png" alt="" data-src-1x="https://pbs.twimg.com/profile_images/552478833312428032/DkIolOc5_normal.png" src="https://pbs.twimg.com/profile_images/552478833312428032/DkIolOc5_bigger.png">
				    </span>
				    <span class="TweetAuthor-name Identity-name customisable-highlight" title="Question One" data-scribe="element:name">Question One</span>
				    
				    <span class="TweetAuthor-screenName Identity-screenName" title="‎@Q1Clues" data-scribe="element:screen_name">‎@Q1Clues</span>
				  </a>
				</div>

				  </div>

				  <div class="Tweet-body e-entry-content" data-scribe="component:tweet">
				    <p class="Tweet-text e-entry-title" lang="en" dir="ltr">What happens to Pinocchio when he tells a lie? Swing by <a href="https://twitter.com/TheBullandLast" class="PrettyLink profile customisable h-card" dir="ltr" data-mentioned-user-id="213055929" data-scribe="element:mention"><span class="PrettyLink-prefix">@</span><span class="PrettyLink-value">TheBullandLast</span></a> at 7:30pm to find out! <a href="https://twitter.com/hashtag/quiz?src=hash" data-query-source="hashtag_click" class="PrettyLink hashtag customisable" dir="ltr" rel="tag" data-scribe="element:hashtag"><span class="PrettyLink-prefix">#</span><span class="PrettyLink-value">quiz</span></a> <a href="https://twitter.com/hashtag/HampsteadHeath?src=hash" data-query-source="hashtag_click" class="PrettyLink hashtag customisable" dir="ltr" rel="tag" data-scribe="element:hashtag"><span class="PrettyLink-prefix">#</span><span class="PrettyLink-value">HampsteadHeath</span></a></p>


				 <div class="Tweet-metadata dateline">				      

				<a class="u-linkBlend u-url customisable-highlight long-permalink" data-datetime="2016-02-21T09:56:49+0000" data-scribe="element:full_timestamp" href="https://twitter.com/Q1Clues/status/701344816056115200">

				<time class="dt-updated" datetime="2016-02-21T09:56:49+0000" pubdate="" title="Time posted: 21 Feb 2016, 09:56:49 (UTC)">9:56 AM - 21 Feb 2016</time></a>
				    </div>


				    <ul class="Tweet-actions" data-scribe="component:actions" role="menu" aria-label="Tweet actions">
				      <li class="Tweet-action">
				<a class="TweetAction TweetAction--reply web-intent" href="https://twitter.com/intent/tweet?in_reply_to=701344816056115200" data-scribe="element:reply"><div class="Icon Icon--reply TweetAction-icon" aria-label="Reply" title="Reply" role="img"></div></a></li>
				      <li class="Tweet-action">
				<a class="TweetAction TweetAction--retweet web-intent" href="https://twitter.com/intent/retweet?tweet_id=701344816056115200" data-scribe="element:retweet"><div class="Icon Icon--retweet TweetAction-icon" aria-label="Retweet" title="Retweet" role="img"></div>    <span class="TweetAction-stat" data-scribe="element:retweet_count" aria-hidden="true"></span>
				    <span class="u-hiddenVisually"> Retweets</span>
				</a></li>
				      <li class="Tweet-action">
				<a class="TweetAction TweetAction--heart web-intent" href="https://twitter.com/intent/like?tweet_id=701344816056115200" data-scribe="element:heart"><div class="Icon Icon--heart TweetAction-icon" aria-label="Like" title="Like" role="img"></div>    <span class="TweetAction-stat" data-scribe="element:heart_count" aria-hidden="true"></span>
				    <span class="u-hiddenVisually"> likes</span>
				</a></li>
				    </ul>
				  </div>
				</blockquote>
				</div>
					<img src="http://df2t160pmxl6q.cloudfront.net/attachments/73599c61a190da76625cbdf127cc5a5b29ce5eca/store/fill/350/250/8edfbd2f4812561b998119185c5be9419c153ad1981d798f535a6553d156/DSC_0168.JPG" class="img-fluid">
					<h5 href="#map" data-toggle="tab">Area Map</h5>
					<div class="leaflet-container leaflet-retina leaflet-fade-anim" id="map" tabindex="0" style="position: relative;">
				<div id="map" class="pub-map"></div>
				<div class="leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);"><div class="leaflet-tile-pane"><div class="leaflet-layer"><div class="leaflet-tile-container"></div><div class="leaflet-tile-container leaflet-zoom-animated"><img class="leaflet-tile leaflet-tile-loaded" src="https://d.tiles.mapbox.com/v3/uberholden.hohmaem9/17/65481/43554.png" style="height: 256px; width: 256px; left: -198px; top: -159px;"></div></div></div><div class="leaflet-objects-pane"><div class="leaflet-shadow-pane"><img src="/assets/marker-shadow-c2e1c624f8064a59dc781ff017de3972.png" class="leaflet-marker-shadow leaflet-zoom-animated" style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(0px, 0px, 0px);"></div><div class="leaflet-overlay-pane"></div><div class="leaflet-marker-pane"><img src="/assets/marker-icon-2x-4e06465f0d3e66b8dfe16fab04f3eb03.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-clickable" tabindex="0" style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(0px, 0px, 0px); z-index: 0;"></div><div class="leaflet-popup-pane"></div></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#" title="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a></div></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"><div class="leaflet-control-attribution leaflet-control"><a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> | QuestionOne Ltd.</div></div></div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="col-xl-2 col-lg-2 col-md-3 col-lg-push-1 m-t-3 ">
		<ul class="small nearby-venues">
		<li class="m-b-2 ">
			<a href="/london/venues/roebuck-hampstead">
				<div >
					<h6 class="text-uppercase letter-spaced f-700 m-t-1 m-b-0">Roebuck Hampstead</h6>
					<p>Monday @ 08:00 PM<br>
					1.41 km away</p>
				</div>
				<img class="attachment place avatar img-fluid" src="//df2t160pmxl6q.cloudfront.net/attachments/ccba5bfd5185785ad5b78a8bfa74037166c7db03/store/fill/180/135/df553bcc72672f6617033e8b33b2a51e92bcb4d43cfad795c20ec8baaa6d/roebuckfront.jpg" alt="Roebuckfront">
			</a> 
		</li>
		<li class="m-b-2">
			<a  href="/london/venues/bull">
				<div >
			<h6 class="text-uppercase letter-spaced f-700 m-t-1 m-b-0">Bull</h6>
			<p>Monday @ 07:30 PM<br>
			1.87 km away</p>
			</div>
			<img class="attachment place avatar img-fluid" src="//df2t160pmxl6q.cloudfront.net/attachments/66b06c95dff2385c295ca4d4e9c527b5396f5fa9/store/fill/180/135/4b26fbfd9b3f3c69b8074e67114feb1ac76c39c4c44a686e3adc896075f9/the_bull_highgate_pub_photos_london_01.jpg" alt="The bull highgate pub photos london 01">
			</a> 
		</li>
		<li class="m-b-2">
			<a href="/london/venues/brewhouse-and-kitchen-highbury">
			<div class="">
			<h6 class="text-uppercase letter-spaced f-700 m-t-1 m-b-0">Brewhouse &amp; 
			Kitchen, Highbury</h6>
			<p>Monday @ 08:00 PM<br>
			3.58 km away</p>
			</div>
			<img class="attachment place avatar img-fluid" src="//df2t160pmxl6q.cloudfront.net/attachments/f535def88eef6ab0af4d4c54c7a97c12d1799ef5/store/fill/180/135/2426b4ba0a6c9c3a167b3d5d739823eded0e4fd8387e477d04fbf86820ce/brew.jpg" alt="Brew">
			</a> 
		</li>
		<li class="m-b-2">
			<a href="/london/venues/hop-and-berry">
				<div class="">
				<h6 class="text-uppercase letter-spaced f-700 m-t-1 m-b-0">Hop and Berry</h6>
				<p>Tuesday @ 08:00 PM<br>
				3.64 km away</p>
				</div>
				<img class="attachment place avatar img-fluid" src="//df2t160pmxl6q.cloudfront.net/attachments/44a9ab09ef5c4640de48c7caa3f69eead9ba7ed2/store/fill/180/135/94411c5a793ebceaee12b1083913de3496aa8cffb0e8c5506aaabb96054d/hop+and+berry.jpg" alt="Hop+and+berry">
			</a> 
		</li>
		<li class="m-b-2">
			<a href="/london/venues/alwyne-castle">
				<div class="">
				<h6 class="text-uppercase letter-spaced f-700 m-t-1 m-b-0">Alwyne Castle</h6>
				<p>Tuesday @ 08:00 PM<br>
				3.74 km away</p>
				</div>
				<img class="attachment place avatar img-fluid" src="//df2t160pmxl6q.cloudfront.net/attachments/185b8d2228914a1e96a19402a199734e10110f35/store/fill/180/135/0195c871ffe118db3957a96560f1d90b2147a07c38cf6c5aeec66c3b65f6/100_alwynecastle_pubhero.jpg" alt="100 alwynecastle pubhero">
			</a> 
		</li>
		<li class="m-b-2">
			<a href="/london/venues/black-lion">
				<div class="">
				<h6 class="text-uppercase letter-spaced f-700 m-t-1 m-b-0">Black Lion</h6>
				<p>Tuesday @ 08:00 PM<br>
				3.9 km away</p>
				</div>
			<img class="attachment place avatar img-fluid" src="//df2t160pmxl6q.cloudfront.net/attachments/8ca566ac291aca71fe068676b6d0df1c1a4e0b07/store/fill/180/135/62c87c9f627a2f9b09c7e0f3721aa2aef984fb37ec187bdb59cd3ba0a961/The_Black_Lion__Kilburn_High_Road_-_geograph.org.uk_-_490934.jpg" alt="The black lion  kilburn high road   geograph.org.uk   490934">
			</a> 
		</li>
		</ul>
		</div>


