
<nav class="navbar navbar-dark bg-primary no-radius">
<a class="navbar-brand-xs hidden-sm-up" href="#"><img src="assets/q1.png" class="img-fluid"></a>

<!-- Toggle Button -->
<button class="navbar-toggler hidden-sm-up  pull-xs-right" type="button" data-toggle="collapse" data-target="#nav-content">
☰
</button>

<!-- Nav Content -->
<div class="collapse navbar-toggleable-xs " id="nav-content" >
<a class="navbar-brand hidden-xs-down m-r-3" href="#"><img src="assets/q1-logo.png" class="img-fluid"></a>
<ul class="nav navbar-nav small text-uppercase letter-spaced">
<li class="nav-item">
<a class="nav-link" href="#">Quiz Finder</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Our Services</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">News</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Contact</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">London</a>
</li>
</ul>
</div>

</nav>
<div class="container-fluid">
<h3 class="m-t-2 font-weight-bold"> Bull And Last
</h3>
<p>
	LAST POSTS<br>
2016/01/31 Momentous quiz BEN PHILLIPS<br>
2016/01/17 Toonies Slide out in front of 5-horse race BEN PHILLIPS<br>
2016/01/10 All In A Day's Work for the FitBits BEN PHILLIPS<br>
2016/01/03 Lowering the Bar raise the bar BEN PHILLIPS<br>
2015/12/20 Supper Club dining out again BEN PHILLIPS<br>
Show All <br>

EVENT<br>
Weekly on Sundays @ 7:30 PM <br>

QUIZMASTER<br>
Ben <br>

PRIZES<br>
The winning team wins the pot and the team which comes second wins two bottles of house wine. There are two bonus free drink rounds to be won.<br>

</div>