.navbar-brand-xs {
	width: 2.25rem;
	display: inline-block;
	margin-top: 0.3rem;
}

.navbar-brand {
	width: 9rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1);
}

.navbar {

}

.navbar-toggler {
	border: 0px solid #fff;
	line-height: 0.9rem;
	padding: 0.6rem 0.85rem;
	font-size: 1.55rem;
	margin-top: 0.3rem;
}

.navbar-nav .nav-link {
	line-height: 2.10rem;

}

button:focus {
	outline: 0.1rem solid #fff;

}

.navbar-nav .nav-item + .nav-item {
	margin-left: 1.5rem;
}


.nav a, nav a {
	font-family: 'museo_sans500', sans-serif;
	margin: 0rem 0rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}

.navbar-nav .nav-item + .nav-item {
	margin-left: 1.1rem;
}
