ul.nearby-venues {
	line-height: 1rem;
	a {
		color: #fff;
		&:hover {
			div {
				background: rgba( $rgba-secondary-1-0, 0.65 );
			}
		}
	}
	li {
		overflow: hidden;
		position:relative;
		div {
				left: 0px;
				width: 100%;
				position: absolute;
				bottom: 0px;
				background: rgba( $rgba-secondary-2-0, 0.65 );
				@include transition($duration: 0.25s, $ease: ease-out);
				
			}
		float: left;
		width: 46%;
		&:nth-child(2n+1) {
			margin-right: 6%;
		}

		@media (min-width: 48em) { 
			float: none;
			width: 100%;
			margin-right: 0%;
		}
	}
	h6 {
		display: block;
		font-size: 0.75rem;
		line-height: 1.03rem;
		width: 100%;
		padding-left: 1rem;
		padding-bottom: 0rem;
		padding-right: 1rem;
	}
	p {
		padding-left: 1rem;
		padding-bottom: 1rem;
		padding-right: 1rem;
		margin: 0px;
	}


}