<nav class="navbar navbar-dark bg-primary no-radius">
  <a class="navbar-brand-xs hidden-sm-up" href="#">
    <%= image_tag 'q1.png', class: 'img-fluid' %>
  </a>

  <!-- Toggle Button -->
  <button class="navbar-toggler hidden-sm-up  pull-xs-right" type="button" data-toggle="collapse" data-target="#nav-content">
    ☰
  </button>

  <!-- Nav Content -->
  <div class="collapse navbar-toggleable-xs " id="nav-content" >
    <a class="navbar-brand hidden-xs-down m-r-3" href="#">
      <%= image_tag 'q1-logo.png', class: 'img-fluid' %>
    </a>

    <ul class="nav navbar-nav small text-uppercase letter-spaced">
      <li class="nav-item">
        <a class="nav-link" href="#">Quiz Finder</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Our Services</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">London</a>
      </li>
    </ul>
  </div>
</nav>
